<p>&copy; {{ now.Year }} coffeeknife. 🔞</p>
<div class="socials">
{{ range sort .Site.Params.social "key"}}
    {{ if isset . "icon" }}
        <a href="{{ .url | safeURL }}" {{ if .target }} target="{{ .target }}" {{ end }} {{ if .aria }} aria-label="{{ .aria }}" {{ else }} aria-hidden="true" {{ end }} title="{{ .name }}" {{ if .rel }} rel="{{ .rel }}"{{ end }}>
            <i class="{{ .icon }}"></i></a>
    {{ else }}
        <a href="{{ .url | safeURL }}" {{ if .target }} target="{{ .target }}" {{ if .aria }} aria-label="{{ .aria }}" {{ else }} aria-hidden="true" {{ end }} {{ end }} {{ if .rel }} rel="{{ .rel }}"{{ end }}>{{ .name }}</a>
    {{ end }}
{{ end }}  
</div>
<p><a href="https://opengameart.org/content/space-cartoony-tiled-texture">Background Image</a></p>