<h2>navigation</h2>
<p>under construction. gotta figure out how to dynamically generate the subsection navigation</p>
<h2>webrings</h2>
<!--yuri-->

<div id="yuriring">
  <span>
      <a href="https://shandriy.github.io/static/webring.htm#{IDENTIFIER}0">⬅</a>
      <a href="https://shandriy.github.io/webring.htm">YURI WEBRING</a>
      <a href="https://shandriy.github.io/static/webring.htm#{IDENTIFIER}1">⮕</a>
  </span>
</div>
<div id="smallvocaring"><script src="https://webring.adilene.net/smallwidget.js"></script></div>
<div>
    <a href='https://webring.dinhe.net/prev/https://coffeeknife.nekoweb.org'>⬅</a>
    <a href='https://webring.dinhe.net/'>Retronauts</a>
    <a href='https://webring.dinhe.net/next/https://coffeeknife.nekoweb.org'>⮕</a>
</div>
<h2>badges</h2>
<div class="badges">
    {{ partial "badges.html" . }}
</div>
<iframe src="https://nekoweb.org/frame/follow" frameborder="0" width="170" height="28" class="nekoweb"></iframe>