<h2>navigation</h2>
  {{ partial "menu.html" (dict "menuID" .Section "page" .) }}
  <p class="centered">
    {{ with resources.Get "decorations/music-notes-2.gif" }}
        <img src="{{ .RelPermalink }}">
    {{ end }}
    </p>
<h2>webrings</h2>
<div id="webrings" data-turbo-permanent>
<div>
    <p>  <a href="https://coffeeknife.github.io/bird-ring/redirect?dir=prev&from=https%3A%2F%2Fcoffeeknife.nekoweb.org%2F">⬅</a> <a href="https://coffeeknife.github.io/bird-ring/">bird ring</a> <a href="https://coffeeknife.github.io/bird-ring/redirect?from=https%3A%2F%2Fcoffeeknife.nekoweb.org%2F">⮕</a></p>
</div>
<!-- TRANSING THE INTERNET -->

<script src="https://transring.neocities.org/ring.js" data-widget="cloud"></script>

<!--yuri-->

<div id="yuriring">
  <span>
      <a href="https://shandriy.github.io/static/webring.htm#CKN0">⬅</a>
      <a href="https://shandriy.github.io/webring.htm">YURI WEBRING</a>
      <a href="https://shandriy.github.io/static/webring.htm#CKN1">⮕</a>
  </span>
</div>
<div id="smallvocaring"><script src="https://webring.adilene.net/smallwidget.js"></script></div>
<map name="noaimini10b">
    <area href="https://baccyflap.com/noai" shape="poly" coords="38,6,38,18,60,18,60,42,38,42,38,58,136,58,136,6" target="_blank" alt="no ai webring" title="no ai webring">
    <area href="https://baccyflap.com/noai/?prv&s=ckn" target="_top" shape="rect" coords="0,0,32,40" alt="previous" title="previous">
    <area href="https://baccyflap.com/noai/?rnd" target="_top" shape="rect" coords="40,24,56,40" alt="random" title="random">
    <area href="https://baccyflap.com/noai/?nxt&s=ckn" target="_top" shape="rect" coords="142,20,174,60" alt="next" title="next">
    </map>
    <div><img style="width:176px;image-rendering:pixelated" usemap="#noaimini10b" src="https://baccyflap.com/noai/miniwidget10.gif" alt="a black rectangle outlined in animated, shifting red and blue pixels, moving around the sign. there are two arrows, one pointing left and one right, protruding from the sign. on the sign are the words THE NO AI WEBRING and a small question mark beside them"></div>
<div>
    <p>
    <a href='https://webring.dinhe.net/prev/https://coffeeknife.nekoweb.org'>⬅</a>
    <a href='https://webring.dinhe.net/'>Retronauts</a>
    <a href='https://webring.dinhe.net/next/https://coffeeknife.nekoweb.org'>⮕</a>
    </p>
</div>
    <div>
    <p>
    <a href="https://webring.bucketfish.me/redirect.html?to=prev&name=coffeeknife">⬅</a>
    <a href="https://webring.bucketfish.me/">bucket webring</a>
    <a href="https://webring.bucketfish.me/redirect.html?to=random&name=coffeeknife">↝</a>
    <a href="https://webring.bucketfish.me/redirect.html?to=next&name=coffeeknife">⮕</a>
    </p>
</div>
</div>
<h2>badges</h2>
<div class="badges">
    {{ partial "badges.html" . }}
</div>
<div class="nekoweb">
<iframe src="https://nekoweb.org/frame/follow" frameborder="0" width="155" height="24" class="nekoweb" id="nekoweb" data-turbo-permanent></iframe>
</div>