<h2>navigation</h2>
  {{ partial "menu.html" (dict "menuID" .Section "page" .) }}
  <p class="centered">
    {{ with resources.Get "decorations/music-notes-2.gif" }}
        <img src="{{ .RelPermalink }}">
    {{ end }}
    </p>
<h2>webrings</h2>
<div id="webrings" data-turbo-permanent>
<div>
    <p>  <a href="https://coffeeknife.github.io/bird-ring/redirect?dir=prev&from=https%3A%2F%2Fcoffeeknife.nekoweb.org%2F">⬅</a> <a href="https://coffeeknife.github.io/bird-ring/">bird ring</a> <a href="https://coffeeknife.github.io/bird-ring/redirect?from=https%3A%2F%2Fcoffeeknife.nekoweb.org%2F">⮕</a></p>
</div>

<!--yuri-->

<div id="yuriring">
  <span>
      <a href="https://shandriy.github.io/static/webring.htm#CKN0">⬅</a>
      <a href="https://shandriy.github.io/webring.htm">YURI WEBRING</a>
      <a href="https://shandriy.github.io/static/webring.htm#CKN1">⮕</a>
  </span>
</div>
<div id="smallvocaring"><script src="https://webring.adilene.net/smallwidget.js"></script></div>
<div>
    <p>
    <a href='https://webring.dinhe.net/prev/https://coffeeknife.nekoweb.org'>⬅</a>
    <a href='https://webring.dinhe.net/'>Retronauts</a>
    <a href='https://webring.dinhe.net/next/https://coffeeknife.nekoweb.org'>⮕</a>
    </p>
</div>
    <div>
    <p>
    <a href="https://webring.bucketfish.me/redirect.html?to=prev&name=coffeeknife">⬅</a>
    <a href="https://webring.bucketfish.me/">bucket webring</a>
    <a href="https://webring.bucketfish.me/redirect.html?to=random&name=coffeeknife">↝</a>
    <a href="https://webring.bucketfish.me/redirect.html?to=next&name=coffeeknife">⮕</a>
    </p>
</div>
</div>
<h2>badges</h2>
<div class="badges">
    {{ partial "badges.html" . }}
</div>
<div class="nekoweb">
<iframe src="https://nekoweb.org/frame/follow" frameborder="0" width="155" height="24" class="nekoweb" id="nekoweb" data-turbo-permanent></iframe>
</div>