@use 'sass:math'

$content: 70vw // 60% of standard width
$body: 40vw
$col: 15vw

$fg: #abb2bf
$bg: #010101
$lightgray: #888888

$darkpurple: #3B2650
$purple: #5C3B7D
$offwhite: #f2ddee

html
  background: url("/bg.png") black
  padding: 0
  max-height: 100% !important
  overflow: visible!important

body a[href]
  color: $purple
  max-height: 100% !important
  overflow: visible !important

a[href]:hover
  text-decoration: none
  color: $bg
  background-color: $fg

body
  position: relative
  width: 60rem
  border: 10px solid $darkpurple
  min-height: 100vh
  font-family: monospace
  top: 0
  bottom: 0
  margin: 0 auto
  background: $bg
  color: $fg

@keyframes fade-in
  0%
    opacity: 0
  100%
    opacity: 1

body#home
  position: absolute
  height: 18.75rem
  min-height: 18.75rem
  overflow: hidden
  width: 50rem
  margin: auto auto auto auto
  top: 0
  left: 0
  right: 0
  bottom: 0
  text-align: center
  padding: 3.125rem 0
  animation: fade-in ease 1s
  animation-iteration-count: 1
  animation-fill-mode: forwards

@keyframes cursor-blink
  0%
    opacity: 0

header
  position: relative
  height: 9.25rem
  background: $bg
  padding-top: 20px
  padding-left: 20px
  p
    color: $lightgray
  h1
    padding-top: 5px
    a[href], a[href]:hover
      color: $fg
      font-size: 3em
      font-family: monospace
      text-decoration: none
      background: none
      font-weight: bold
  h1::after
    content: ""
    margin-bottom: -4px
    margin-left: 10px
    width: 1.5em
    height: 3em
    background: $fg
    display: inline-block
    animation: cursor-blink 1s steps(2) infinite

#vid1
  width: 100%
  overflow: hidden
  margin-bottom: 0.75rem

#content
  width: 100%
  font-size: 125%
  display: flex
  flex-direction: row
  margin-bottom: $col / 4

aside
  width: $col
  min-width: 13.5rem
  height: 100%
  padding: 20px
  display: flex
  flex-direction: column
  align-content: center
  justify-content: center
  li
    em
      font-weight: bold

#content li::before
    content: "★ "

aside.sidebar-left
  left: 0

aside.sidebar-right
  right: 0
  li::before
    content: "" !important
aside p, aside li
  font-size: 80%
  margin-bottom: 0.75em

main
  min-height: 100%
  width: 100%
  padding: 20px
  flex-grow: 1
  overflow: hidden

main p
  margin-bottom: 0.75em
  line-height: 1.25em

#content h1, #content h2, #content h3
  font-weight: bold
  color: $bg
  background-color: $fg
  padding: 1px
  margin-bottom: 0.5em

#content h1::before
  content: "> "

#content h2::before
  content: ">> "

#content h3::before
  content: ">>> "

footer
  position: absolute
  bottom: 0
  left: 0
  right: 0
  height: $col / 4
  marign: 0 auto
  text-align: center
  display: flex
  justify-content: center
  flex-direction: row
  align-items: center
  gap: 20px

#home footer
  position: relative
  padding: 0
  margin: 20px

header nav
  ul
    display: block
    position: absolute
    right: 0
    bottom: 0
    padding: 10px
    li
      display: inline-block
      padding: 5px
      a::before
        content: "~/"
      a[href]
        text-decoration: none
        color: $fg
        font-family: "Courier New", monospace
        font-size: 1.2em
      a:hover
        background: $fg
        color: $bg

aside nav
  font-weight: bold
  text-align: center
  a[href]
    text-decoration: none
    color: $fg
  a[aria-current='page']::before
    content: ">> "
  a[aria-current='page']::after
    content: " <<"
  li::before
    content: ""

#home nav ul
  left: 0
  right: 0
  margin: 0 auto

footer .socials
  font-size: 150%

.badges
  display: flex
  flex-wrap: wrap

.badges a:hover
  background: none
  display: inline-block

.badges img
  width: 88px
  height: 31px

.centered
  text-align: center

.nekoweb
  background-color: #00000000;
  padding: none
  display: block
  width: 155px
  margin: 0 auto

.highlight
  background: none
  overflow-x: scroll
  overflow-y: hidden

.sidebar-right div
  margin-bottom: 10px
  text-align: center
  a:hover
    background: none
    color: white

#yuriring
  position: relative
  background: linear-gradient(to top,#000,#00000000), url('https://static1.srcdn.com/wordpress/wp-content/uploads/2024/06/delicious-in-dungeon-marcille-and-falin-cosplay.jpg')
  background-size: cover
  display:grid
  height: 100px
  width: 176px
  border-radius: 10px
  color: white
  font-size: 16px
  font-weight: bold
  span
    display: block
    position: absolute
    bottom: 10px
    left: 0
    right: 0
    text-align: center
  a
    text-decoration: none
    color: white
  a:hover
    background: none
    color: $purple

main iframe
  scrollbar-width: none
  position: absolute
  display: block
  left: 0
  right: 0
  margin: 0 auto
  width: 34rem
  height: 40rem

.gallery
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  gap: 10px
  a:hover
    background: none
  img
    transition: transform .2s
  img:hover
    transform: scale(1.2)

#content main
  ul
    line-height: 120% 
    list-style-type: circle
    list-style-position: outside
    margin-left: 20px
    li
      margin-top: 5px
      margin-bottom: 10px
    li::before
      content: "" !important

strong
  font-weight: bold