@use 'sass:math'

$width: 1920px //

$content: 65vw // 60% of standard width
$body: 40vw
$col: $width * 0.1

$fg: #abb2bf
$bg: #010101
$lightgray: #888888

$darkpurple: #3B2650
$purple: #5C3B7D
$offwhite: #F2DDEE

html
  height: 100%
  background: url("/bg.png") black

body
  width: $content
  min-width: 800px
  border: 10px solid $darkpurple
  min-height: 100%
  font-family: monospace
  position: absolute
  left: 0
  right: 0
  margin: 0 auto
  background: $bg
  color: $fg

body#home
  height: 50vh
  width: 50vw
  min-height: 200px 
  margin: auto auto auto auto
  top: 0
  bottom: 0
  text-align: center
  padding: 50px 0

@keyframes cursor-blink
  0%
    opacity: 0

header
  position: relative
  height: 150px
  background: $bg
  padding-top: 20px
  padding-left: 20px
  p
    color: $lightgray
  h1
    padding-top: 5px
  h1::after
    content: ""
    margin-bottom: -4px
    margin-left: 10px
    width: 1.5em
    height: 3em
    background: $fg
    display: inline-block
    animation: cursor-blink 1s steps(2) infinite
  a
    color: $fg
    font-size: 3em
    font-family: monospace
    text-decoration: none
    font-weight: bold

#content
  position: absolute
  width: 100%
  top: 150px
  bottom: $col / 4
  border-top: 10px solid $darkpurple
  border-bottom: 10px solid $darkpurple

aside
  width: $col
  height: 100%
  position: absolute
  background: $bg

aside.sidebar-left
  left: 0
  border-right: 10px solid $darkpurple

aside.sidebar-right
  right: 0
  border-left: 10px solid $darkpurple

main
  position: absolute
  height: 100%
  width: $body
  left: $col

footer
  height: $col / 4
  position: absolute
  width: 100%
  bottom: 0px
  padding: $col / 6
  text-align: center

#home footer
  position: relative
  padding: 0
  margin: 20px

nav
  ul
    display: block
    position: absolute
    right: 0
    bottom: 0
    padding: 10px
    li
      display: inline-block
      padding: 5px
      a
        text-decoration: none
        color: $fg
        font-family: "Courier New", monospace
        font-size: 1.2em
      a:hover
        background: $fg
        color: $bg

#home nav ul
  left: 0
  right: 0
  margin: 0 auto
