{{ with resources.Get "badges/right2repair.gif" }}
  <a href="https://en.wikipedia.org/wiki/Right_to_repair"><img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt=""></a>
{{ end }}
{{ with resources.Get "badges/stand_up_to_google.gif" }}
  <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="">
{{ end }}
{{ with resources.Get "badges/antinazi.png" }}
  <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="">
{{ end }}
{{ with resources.Get "badges/transrights.png" }}
  <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="">
{{ end }}
{{ with resources.Get "badges/firefox_now.gif" }}
  <a href="https://www.mozilla.org/en-US/firefox/"><img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt=""></a>
{{ end }}
{{ with resources.Get "badges/ublock.webp" }}
  <a href="https://github.com/gorhill/uBlock"><img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt=""></a>
{{ end }}
{{ with resources.Get "badges/arch.png" }}
  <a href="https://archlinux.org"><img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt=""></a>
{{ end }}
{{ with resources.Get "badges/notai.png" }}
  <a href="https://notbyai.fyi/"><img src="{{ .RelPermalink }}" width="88" height="31" alt=""></a>
{{ end }}
{{ with resources.Get "badges/queercoding.png" }}
  <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="">
{{ end }}
{{ with resources.Get "badges/graphicdesign.png" }}
  <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="">
{{ end }}