<h2>stats</h2>
<ul data-turbo-permanent id="stats">
    <li id="created"></li>
    <li id="updated"></li>
    <li id="visitors"></li>
    <li id="followers"></li>
</ul>
<p><a href="maxpixels.moe" target="_blank">script credit</a></p>
<h2>now playing</h2>
<turbo-frame id="now-playing" target="_top" data-turbo-permanent>
    <iframe width="352" height="198" style="scale: 50%; margin: -49px -88px" src="https://www.youtube.com/embed/p6snD1650ck" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</turbo-frame>
<h2>sites</h2>
<div class="badges">
    {{ partial "sites.html" . }}
</div>