<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <iframe src="https://nekoweb.org/frame/follow" frameborder="0" class="nekoweb"></iframe>
  <header>
    {{ partial "header.html" . }}
  </header>
  <div id="content">
    <aside class="sidebar-left">
      {{ partial "left-sidebar.html" . }}
    </aside>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    <aside class="sidebar-right">
      {{ partial "right-sidebar.html" . }}
    </aside>
  </div>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
