<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <header>
    {{ partial "header.html" . }}
  </header>
  <div id="content">
    <aside class="sidebar-left">
      <h2>left sidebar</h2>
    </aside>
    <aside class="sidebar-right">
      <h2>right sidebar</h2>
    </aside>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
  </div>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
