<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
  <meta name="turbo-visit-control" content="reload">
</head>
<body id="home">
  <header>
    {{ partial "header.html" . }}
  </header>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
  <div style="display: none"> <!--fix to get the ring to recognize; the links are inside the site-->
    <a href='https://webring.dinhe.net/prev/https://coffeeknife.nekoweb.org'>Previous</a>
    <a href='https://webring.dinhe.net/next/https://coffeeknife.nekoweb.org'>Next</a>
  </div>
</body>
</html>
