{{ $page := .Page}}
<div class="gallery">
    {{ $images := $page.Resources.Get "gallery/gallery.json" | transform.Unmarshal }}
    {{ range $image := (index $images "images") }}
        {{ $path := index $image "file" | printf "gallery/%s" }}
        {{ $alt := index $image "alt" }}
        {{ $link := index $image "link" }}
        {{ with $img := $page.Resources.Get $path }}
            <a href="{{ $link }}" target="_blank">
                <img src="{{ $img.RelPermalink }}" alt="{{ $alt }}" width="{{ $img.Width }}" height="{{ $img.Height }}">
            </a>
        {{ else }}
            {{ errorf "unable to get page resource %q" $path }}
        {{ end }}
    {{ end }}
</div>